@import '../settings/fonts';
@import '../settings/colors';
@import '../settings/mixins';

.contact-section {
  margin-top: 171px;
  @include flex-center;
  font-size: 10px;
}
.contact-container {
  width: 896px;
  height: 376px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.name-email-input {
  width: 440px;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.TC {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.TC p {
  width: 405px;
  height: 108px;
  font-size: 0.5rem;
  margin-left: 10px;
}
.name-email-input input {
  border: none;
  border-bottom: $color-grey 1px solid;
  width: 100%;
}
.name-email-input label {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $color-primary;
  font-family: $font-family-open-sans;
  font-weight: $font-weight-light;
}

.left-section {
  width: 342px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.contact-details {
  width: 342px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section h2 {
  font-size: 4.8rem;
  font-family: $font-family-raleway;
}

.left-section p {
  font-size: 1rem;
  font-family: $font-family-open-sans;
}
input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: $color-grey 2px solid;
}
.checkbox:checked::after {
  content: url('../images/Checkmark.svg');
  position: relative;
  margin-left: 3px;
}

.contact-section {
  margin-top: 200px;

  .contact-container {
    @include mobile {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 30px;
    }
    .ctc-mail,
    .ctc-phone {
      @include mobile {
        max-width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }
    }

    .left-section {
      @include mobile {
        max-width: 279px;
        font-size: 4rem;
      }
      h2 {
        @include mobile {
          font-size: 2.2rem;
        }
      }
      .contact-details {
        @include mobile {
          width: 277px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
    .TC {
      p {
        @include mobile {
          height: 108px;
          max-width: 277px;
          font-size: 0.5rem;
        }
      }
    }

    .form {
      max-width: 300px;
      height: 100%;
      .name-email-input {
        @include mobile {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          gap: 20px;

          input {
            border: none;
            border-bottom: $color-grey 1px solid;
            width: 80vw;
          }
          label {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
