/* font familly */
$font-family-raleway: 'raleway';
$font-family-open-sans: 'open sans';
/* font weight */
$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-bold: 700;
$font-weight-bolder: 800;
