* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --color-primary: #08a6e4;
  --color-primary-shadow: rgba(7, 172, 230, 0.16);
  --color-redish: #fb3b64;
  --color-green: #55dfb4;
  --color-black: #000000;
  --color-grey: #a5a5a5;
  --color-light-grey: #f7f7f7;
  --color-white: #ffffff;
  /* font familly */
  --font-family-raleway: 'raleway';
  --font-family-open-sans: 'open sans';
  /* font weight */
  --font-weight-lighter: 300;
  --font-weight-light: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 800;
}

/* Header styling */

header {
  width: 100%;
  height: 70px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container {
  width: 1352px;
  display: flex;
  justify-content: space-around;
}
.logo {
  font-size: 32px;
  font-family: var(--font-family-raleway);
  font-weight: var(--font-weight-light);
  color: var(--color-primary);
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 635px;
}

.nav-list li a {
  color: var(--color-grey);
  text-decoration: none;
}
.nav-list li {
  list-style: none;
  font-size: 15px;
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-light);
  text-transform: uppercase;
}
.list-container {
  display: flex;
  align-items: center;
}

.item {
  padding: 25px 0px;
}

.item:hover {
  border-bottom: 4px solid #08a6e4;
  color: var(--color-black);
}

/* Opening Section */

.opening-section {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  margin-top: 130px;
}
.opening-section .container {
  width: 1626px;
  height: 712px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-lighter);
  font-size: 16px;
}

.button {
  padding: 23px 157px 22px 157px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 40px;
  box-shadow: 5px 10px 14px #07ace629;
}
.button a {
  text-decoration: none;
  font-size: 16px;
  color: var(--color-white);
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-bold);
}
.header1 {
  font-family: var(--font-family-raleway);
  font-weight: var(--font-weight-lighter);
  font-size: 49px;
  text-transform: capitalize;
}

/* stats section */

.stats-section {
  width: 100%;
  height: 531px;
  gap: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-raleway);
  font-weight: var(--font-weight-lighter);
  font-size: 36px;
  color: var(--color-black);
}
.title {
  color: var(--color-grey);
  font-size: 16px;
}
.numbers {
  color: var(--color-black);
  font-weight: var(--font-weight-bold);
  letter-spacing: 5.96px;
  font-size: 24px;
}

.content {
  width: 1626px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.shape1 {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--color-redish);
}
.shape2 {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
.shape3 {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  background-color: var(--color-green);
}
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container__img-and-shape {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img {
  position: absolute;
  margin-left: 50px;
  z-index: 1;
}

/* benefit section */

.benefit-section {
  width: 100%;
  height: 1395px;
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 150px;
}

.box-container1 {
  background-color: var(--color-white);
  width: 1124px;
  height: 370px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box-container2 {
  background-color: var(--color-white);
  width: 1124px;
  height: 370px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.text-container {
  width: 416px;
  height: 188px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.border1 {
  width: 328px;
  border: 3px solid var(--color-redish);
}
.border2 {
  width: 328px;
  border: 3px solid var(--color-primary);
}
.border3 {
  width: 328px;
  border: 3px solid var(--color-green);
}

.shape__macbook {
  width: 190px;
  height: 190px;
  transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
  background-color: var(--color-redish);
  border-radius: 41px;
}
.shape__iphone {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: var(--color-primary);
}
.img-container1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.img-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-container3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trumpet__background {
  width: 440px;
  height: 370px;
  background-color: var(--color-green);
}

.box__container-splited {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.left-side {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 623px;
  height: 370px;
  background-color: var(--color-white);
}

/* Pricing section */

.pricing-section {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family-open-sans);
}
.main__pricing-container {
  width: 1266px;
  height: 616px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-items {
  list-style: none;
  font-size: 14px;
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-light);
}

.pricing-container1,
.pricing-container2,
.pricing-container3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 100px; */
}
.pricing-container1,
.pricing-container3 {
  width: 372px;
  height: 461px;
}
.pricing-container2 {
  width: 405px;
  height: 500px;
}
.pricing-container1 {
  border: var(--color-redish) 1px solid;
  border-radius: 18px;
}
.pricing-container2 {
  border: var(--color-primary) 1px solid;
  box-shadow: 5px 10px 27px #07ace629;
  border-radius: 18px;
}
.pricing-container3 {
  border: var(--color-green) 1px solid;
  border-radius: 18px;
}

.begin1,
.begin2,
.begin3 {
  border: 0px;
  padding: 16px 57px;
  border-radius: 23px;
  font-size: 13px;
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family-open-sans);
  margin-bottom: -20px;
}
h3 {
  margin-top: 30px;
}
ul {
  line-height: 26px;
  text-align: center;
}
.begin1 {
  background-color: var(--color-redish);
}
.begin2 {
  background-color: var(--color-primary);
}
.begin3 {
  background-color: var(--color-green);
}
.price1,
.price2,
.price3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price1 {
  color: var(--color-redish);
  font-size: 46px;
}
.price2 :nth-child(1) {
  color: var(--color-primary);
  font-size: 46px;
}
.price3 :nth-child(1) {
  color: var(--color-green);
  font-size: 46px;
}
.price2 :nth-child(2) {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: #13253b;
}
.price3 :nth-child(2) {
  font-size: 12px;
  font-weight: var(--font-weight-bold);
  color: #13253b;
}
.button-begin a {
  text-decoration: none;
  color: var(--color-white);
}

.pricing-container1 ul :first-child:before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container1 ul :nth-child(2):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container1 ul :nth-child(3):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container1 ul :nth-child(4):before {
  content: url('../images/Close.svg');
  margin-right: 15px;
}
.pricing-container1 ul :last-child:before {
  content: url('../images/Close.svg');
  margin-right: 15px;
}
.pricing-container2 ul :first-child:before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container2 ul :nth-child(2):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container2 ul :nth-child(3):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container2 ul :nth-child(4):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container2 ul :last-child:before {
  content: url('../images/Close.svg');
  margin-right: 15px;
}
.pricing-container3 ul :first-child:before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container3 ul :nth-child(2):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container3 ul :nth-child(3):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container3 ul :nth-child(4):before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}
.pricing-container3 ul :last-child:before {
  content: url('../images/Ckechmark-1.svg');
  margin-right: 15px;
}

/* contact section */

.contact-section {
  margin-top: 171px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container {
  width: 896px;
  height: 376px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.form {
  width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}

.name-email-input {
  width: 440px;
  height: 157px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.TC {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.TC p {
  width: 405px;
  height: 108px;
  font-size: 12px;
  margin-left: 10px;
}
.name-email-input input {
  border: none;
  border-bottom: var(--color-grey) 1px solid;
  width: 100%;
}
.name-email-input label {
  font-size: 15px;
  text-transform: uppercase;
  color: var(--color-primary);
  font-family: var(--font-family-open-sans);
  font-weight: var(--font-weight-light);
}

.left-section {
  width: 342px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
}
.contact-details {
  width: 342px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-section h2 {
  font-size: 48px;
  font-family: var(--font-family-raleway);
}

.left-section p {
  font-size: 16px;
  font-family: var(--font-family-open-sans);
}
input[type='checkbox'] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: var(--color-grey) 2px solid;
}
.checkbox:checked::after {
  content: url('../images/Checkmark.svg');
  position: relative;
  margin-left: 3px;
}

/* Footer section */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-grey);
  box-shadow: 0px -5px 40px #00000029;
}
.footer-container {
  width: 1626px;
  height: 89px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-side-footer {
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-side-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.trademark {
  font-size: 11px;
  font-family: var(--font-family-open-sans);
  color: var(--color-grey);
}
